@media (max-width: 750px){
  .intro{
    background-image: url(../../img/raster/intro-bg-mob.jpg);
    // background-size: contain;
    h1{
      font-size: 95px;
      line-height: 60px;
      min-height: 1336px;
    }
  }

}